<% provide(:title, 'About') %>

<div align="center">
	<h1>About</h1></center>
		<p>
Welcome to the UvA courses app! This app enables you to browse through all courses offered at the University of Amsterdam. Browsing through courses can be achieved manually as well as with a search bar, which handles searched 
based on course names. The courses can be 'followed' i.e you can enroll for courses. These followed courses appear in a feed on your personal page. 
On this page, you can search through these courses and drop them if desired.
		</p>
</div>