<% provide(:title, 'UvA courses') %>

<div data-role="header">
  <h1>Courses</h1>
</div>
 
	<div data-role="content">
		<ul data-role="listview" data-inset="true" data-dividertheme="a"> 
                     <li data-role="list-divider">Browse Courses</li> 
                     <li><a href="">Course 1</a></li> 
                     <li><a href="">Course 2</a></li> 
                     <li><a href="">Course 3</a></li> 
                     <li><a href="">Course 4</a></li> 
               </ul>           
    <% end %>
  </ul>
</div>
