<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <b>The form contains <%= pluralize(@user.errors.count, "error") %>.</b>
    </div>
    
    <div style="margin=100px auto;">
		<ul>
		    <% @user.errors.full_messages.each do |msg| %>
      		<li> <%= msg %></li>
    		<% end %>
		</ul>
  </div>
    
<% end %>

